<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="yellow" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<p-messages></p-messages>
<div class="flext m-auto justify-center gap-4 mb-4  mt-8  container" dir="rtl">

    <div
        class="bg-gray-200 p-2 pt-2 mb-3  border border-gray-150 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <div class="grid grid-cols-5 ">
            <span
                class=" col-span-3 inline-flex items-center justify-center justify-self-start  w-[2.5rem] h-[2.5rem] p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">كود{{Request?.Code}}
            </span>

            <div class="col-span-2 flex ps-2">
                <div class="col-span-1 flex ps-2">
                    <p-button (onClick)="downloadPDf(Request)" label="" [style]="{
                                                        padding: '2px', backgroundColor:'RGB(247, 213, 77)' , color:'black'
                                                    }">

                        <img src="../../../assets/icons8-pdf-50.png" style="height: 25px;width: 25px;">تحميل
                    </p-button>

                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 flex flex-nowrap mt-5 ">
            <div class="col-span-2 md:col-span-2 lg:col-span-1 ">
                <div class="flex items-center">

                    <span [ngClass]="Request?.Accept ?'bg-green-100':Request?.Pending  ? 'bg-gray-150':'bg-red-70'"
                        class="px-2 py-2  font-bold text-gray-700"><i class="pi pi-table mx-2"></i>الطلب</span>
                    <hr class="flex-grow border-yellow-500 border-1 mx-2">
                </div>
                <div class="border-r-4 border-gray-900 px-2">
                    <div class="grid grid-cols-4">
                        <div class="col-span-1">اسم النشاط </div>
                        <div class="col-span-3">: {{Request?.ActivityName}}</div>
                    </div>
                    <div class="grid grid-cols-4">
                        <div class="col-span-1"> طبيعة النشاط </div>
                        <div class="col-span-3">: {{Request?.ActivityNature}}</div>
                    </div>
                    <div class="grid grid-cols-4">
                        <div class="col-span-1"> عنوان النشاط </div>
                        <div class="col-span-3">: {{Request?.activityLocation}}</div>
                    </div>
                    <div class="grid grid-cols-4">
                        <div class="col-span-1"> الدولة</div>
                        <div class="col-span-3">:{{Request?.Country}}</div>
                    </div>
                    <div class="grid grid-cols-4">
                        <div class="col-span-1"> المحافظة</div>
                        <div class="col-span-3">: {{Request?.Governorate}}</div>
                    </div>
                    <div class="grid grid-cols-4">
                        <div class="col-span-1"> المدينة</div>
                        <div class="col-span-3">: {{Request?.City}}</div>
                    </div>


                </div>
            </div>
            <div class="col-span-2 md:col-span-2 lg:col-span-1">
                <div class="flex items-center">

                    <span [ngClass]="Request?.Accept ?'bg-green-100':Request?.Pending  ? 'bg-gray-200':'bg-red-70'"
                        class="px-2 py-2  font-bold text-gray-700"> <i class="pi pi-user mx-2"
                            style="color: black"></i>بيانات العميل </span>
                    <hr class="flex-grow border-yellow-500 border-1 mx-2">
                </div>
                <div class="border-r-4 border-gray-900 ">

                    <div class="flex">
                        <div class="mx-2"> <i class="pi pi-user" style="color: black"></i></div>
                        <div class=""> {{Request?.Name}}</div>
                    </div>
                    <div class="flex">

                        <div class="mx-2"> <i class="pi   pi-mobile" style="color: rgb(48, 61, 241)"></i> </div>
                        <div class=""> {{Request?.Mobile}}</div>
                    </div>
                    <div class="flex">
                        <div class="mx-2"> <i class="pi  pi-phone" style="color: rgb(0, 0, 0)"></i> </div>
                        <div class="">{{Request?.Phone}}</div>
                    </div>
                    <div class="flex ">
                        <div class="mx-2"> <i class="pi   pi-envelope" style="color: red"></i> </div>
                        <div class="">{{Request?.Email}}</div>
                    </div>
                    <div class="flex">
                        <div class="mx-2"> <i class="pi   pi-map-marker" style="color: green"></i> </div>
                        <div class=""> {{Request?.Location}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center mt-8">
            <hr class="flex-grow border-yellow-400 border-8 mx-2 mt-3">
        </div>
        <div class="-mt-2 border border-yellow-500">

            <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4 mb-4 border-yellow-500" dir="rtl">

                <div *ngFor="let service of Request?.PriceOffer?.Services"
                    class="border border-white mt-2  text-black md:mx-3 lg:mx-3  dark:bg-gray-800 dark:border-gray-700">


                    <div class="grid grid-cols-5 ">

                        <h4 class="font-bold col-span-5 p-3 flex ps-2 bg-gray-100 text-black">
                            <i class="pi pi-book p-1"></i> {{service?.Service?.Name}}
                        </h4>
                        <span class="col-span-5 bg-green-200 ps-2  flex-wrap">

                            <span
                                class="servicesInput flex grid grid-cols-8 inline-block my-2 font-semibold text-green-900 leading-tight"
                                *ngFor="let device of service.Devices">
                                <div class="col-span-6">
                                    <span class=" items-center flex"><i class="mx-2 mb-2 pi pi-desktop"
                                            style="color:blue"></i>

                                        <div class="  w-8 px-1 border border-gray-200 text-gray-900 text-sm focus:border-primary-300 block   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                            name="" id="">{{device?.Quantity}}</div>
                                        <span>{{device.Device?.Title}}</span>

                                    </span>

                                </div>

                                <h4 class="col-span-2">{{device?.SubTotalPrice}} EGP</h4>

                            </span>

                        </span>
                    </div>
                    <span class="flex justify-end mt-5 mb-2">
                        <h4 class="col-span-2 px-5 font-bold	">Sub Total: {{service?.serviceTotalPrice}} EGP
                        </h4>
                    </span>
                    <ng-container *ngIf="Request?.ApproveToReprsentative && Request?.ApproveToSalesManger">
                        <div class="bg-gray-100 p-1 ">
                            <div class="mt-1 flex font-semibold "> <svg class="h-8 w-8 text-blue-500" width="24"
                                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <path
                                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                    <circle cx="12" cy="12" r="3" />
                                </svg>
                                الصيانة والدعم الفني </div>
                            <div
                                class="servicesInput p-2 flex grid grid-cols-8 inline-block my-2 bg-green-200 font-semibold text-green-900 leading-tight">
                                <div class="col-span-6">
                                    <span class=" items-center  px-2">
                                        <ul *ngFor="let des of service?.Maintenance?.description ">
                                            <li>{{des}}</li>
                                        </ul>
                                    </span>

                                </div>
                                <h4 class="col-span-2">{{service?.Maintenance?.price}} EGP</h4>
                            </div>
                        </div>
                    </ng-container>
                    <!-- <hr class="flex-grow border-yellow-500 border-1 mx-2 mt-8 "> -->
                </div>

            </div>
            <div>
                <div class="p-3  bg-black text-white flex justify-end text-bold">

                    <h2>Total : <span class="font-semibold">{{Request?.PriceOffer?.TotalPrice |currency:"EGP"}}</span>
                        <i class="pi pi-pound mx-2"></i>
                    </h2>

                </div>
                <div class="p-3  bg-black text-white flex justify-end text-bold">

                    <h2>Payment Plan : <span class="font-semibold"> {{Request?.PaymentPlan?.Plan }}</span> <i
                            class="pi pi-calendar-plus mx-2"></i></h2>

                </div>
                <div class="p-3  bg-black text-white flex justify-end text-bold">

                    <h2> Initial Amount Of Money : <span class="font-semibold"> {{Request?.InitialAmountOfMoney |
                            currency :"EGP"}} </span><i class="pi pi-money-bill mx-2"></i></h2>

                </div>
                <div class="p-3  bg-black text-white flex justify-end text-bold">

                    <h2> Branches Number : <span class="font-semibold"> {{Request?.BranchesNumber
                            }} </span><i class="pi pi-money-bill mx-2"></i></h2>

                </div>
            </div>
        </div>

        <div class="my-3">

            <div>المندوب : <span>{{Request?.ReprsentativeID?.FullName}}</span></div>

            <div>التاريخ : <span dir="ltr">{{Request?.createdAt | date}}</span></div>
        </div>

    </div>

</div>