<p-paginator [pageLinkSize]="reqs?.totalPages" [rows]="reqs?.limit" [totalRecords]="reqs?.count" [first]="1"
    (onPageChange)="onPageChange($event)" [rowsPerPageOptions]="[5 ,10, 15]" dir="ltr">
</p-paginator>
<app-reprentative-main-card [requests]="reqs?.requests"></app-reprentative-main-card>
<p-paginator [pageLinkSize]="reqs?.totalPages" [rows]="reqs?.limit" [totalRecords]="reqs?.count" [first]="1"
    (onPageChange)="onPageChange($event)" [rowsPerPageOptions]="[5 ,10, 15]" dir="ltr">
</p-paginator>