<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2  mb-4 lg:mx-5 md:mx-5 mt-8" dir="rtl">

    <div class=" mt-5 p-2  items-center justify-center lg:mx-8 md:mx-4" *ngFor="let Request of requests">
        <div dir="rtl" [ngClass]="Request.Complete?Request.Rejected?'bg-red-50' :'bg-green-50':'bg-blue-50'"
            class="   p-2 pt-2 bg-blue-50  border border-gray-150 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="grid grid-cols-6 ">
                <span
                    class="col-span-6 lg:col-span-3 inline-flex items-center justify-center justify-self-start  w-[2.5rem] h-[2.5rem] p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">كود{{Request?.Code}}
                </span>
            </div>
            <div class="grid grid-cols-2 flex flex-nowrap mt-5">
                <div class="col-span-2 md:col-span-2 lg:col-span-1 ">
                    <div class="flex items-center">

                        <span class="px-2 py-2  font-bold text-gray-700"><i class="pi pi-table mx-2"></i>الطلب</span>
                        <hr class="flex-grow border-yellow-500 border-1 mx-2">
                    </div>
                    <div class="border-r-4 border-gray-900 px-2">
                        <div class="grid grid-cols-4">
                            <div class="col-span-2">اسم النشاط </div>
                            <div class="col-span-2">: {{Request?.ActivityName}}</div>
                        </div>
                        <div class="grid grid-cols-4">
                            <div class="col-span-2"> طبيعة النشاط </div>
                            <div class="col-span-2">: {{Request?.ActivityNature}}</div>
                        </div>
                        <div class="grid grid-cols-4">
                            <div class="col-span-2"> عنوان النشاط </div>
                            <div class="col-span-2">: {{Request?.activityLocation}}</div>
                        </div>
                        <div class="grid grid-cols-4">
                            <div class="col-span-2"> الدولة</div>
                            <div class="col-span-2">:{{Request?.Country?.name}}</div>
                        </div>
                        <div class="grid grid-cols-4">
                            <div class="col-span-2"> المحافظة</div>
                            <div class="col-span-2">: {{Request?.Governorate}}</div>
                        </div>
                        <div class="grid grid-cols-4">
                            <div class="col-span-2"> المدينة</div>
                            <div class="col-span-2">: {{Request?.City}}</div>
                        </div>


                    </div>
                </div>
                <div class="col-span-2 md:col-span-2 lg:col-span-1">
                    <div class="flex items-center">

                        <span [ngClass]="Request?.Accept ?'bg-green-100':Request?.Pending  ? 'bg-gray-200':'bg-red-70'"
                            class="px-2 py-2  font-bold text-gray-700"> <i class="pi pi-user mx-2"
                                style="color: black"></i>بيانات العميل </span>
                        <hr class="flex-grow border-yellow-500 border-1 mx-2">
                    </div>
                    <div class="border-r-4 border-gray-900 ">

                        <div class="flex">
                            <div class="mx-2"> <i class="pi pi-user" style="color: black"></i></div>
                            <div class=""> {{Request?.Name}}</div>
                        </div>
                        <div class="flex">

                            <div class="mx-2"> <i class="pi   pi-mobile" style="color: rgb(48, 61, 241)"></i> </div>
                            <div class=""> {{Request?.Mobile}}</div>
                        </div>
                        <div class="flex">
                            <div class="mx-2"> <i class="pi  pi-phone" style="color: rgb(0, 0, 0)"></i> </div>
                            <div class="">{{Request?.Phone}}</div>
                        </div>
                        <div class="flex">
                            <div class="mx-2"> <i class="pi   pi-envelope" style="color: red"></i> </div>
                            <div class="break-all">{{Request?.Email}}</div>
                        </div>
                        <div class="flex">
                            <div class="mx-2"> <i class="pi   pi-map-marker" style="color: green"></i> </div>
                            <div class="break-all"> {{Request?.Location}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="bg-yellow-400 p-1 mt-4">
            <div class="flex  ">
                <div class="mt-3  w-full" dir="ltr">

                    <div class="flex justify-start">
                        <img [src]="Request?.ReprsentativeID?.Image" class="rounded-full mx-3"
                            style="height: 50px;width:50px;">
                        <span class=" ">
                            <div>{{Request.ReprsentativeID?.FullName}}</div>
                            <div dir="ltr">{{Request.createdAt | date}}</div>
                        </span>
                    </div>
                    <!-- <div class="flex ">
                        <i class="pi pi-calendar-plus" style="font-size: 1.5rem"></i>
                        <span dir="ltr">{{Request.createdAt | date}}</span>
                        <svg class="h-10 w-10 text-black mx-3" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <rect x="4" y="5" width="16" height="16" rx="2" />
                            <line x1="16" y1="3" x2="16" y2="7" />
                            <line x1="8" y1="3" x2="8" y2="7" />
                            <line x1="4" y1="11" x2="20" y2="11" />
                            <rect x="8" y="15" width="2" height="2" />
                        </svg> <span dir="ltr">{{Request.createdAt | date}}</span>
                    </div> -->
                    <div class="flex justify-center  mt-5">
                        <button type="button" [routerLink]="['/RepresentHome/ReqDetails', Request._id]"
                            routerLinkActive="router-link-active"
                            class=" mx-5 text-white bg-black hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">التفاصيل</button>
                        <!-- <button type="button" [routerLink]="['/RepresentHome/EditForm', Request._id]"
                            class="mx-5 text-white bg-blue-600 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">تعديل
                        </button> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>