<div class="flex flex-col shrink-0 p-3 py-1 px-1  bg-white h-screen shadow" id="side_nav">
    <a routerLink="/Elabd/home" class="flex items-center pb-3 md:mb-0 md:me-auto text-decoration-none">
        <img src="assets/Varrox-Logo.png" class=" m-2" style="width: 200px;height:50px" />

    </a>


    <ul class="space-y-4 text-left text-gray-500 mt-8 pt-8 mx-4 dark:text-gray-400">

        <li class="flex items-center space-x-3">
            <a [routerLink]="['AllRequestes']" class="flex">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5.917 5.724 10.5 15 1.5" />
                </svg>
                <span class="font-semibold text-gray-900 dark:text-white"> طلبات الاسعار</span>
            </a>
        </li>
        <li class="flex items-center space-x-3">
            <a [routerLink]="['sales-archieve']" class="flex">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5.917 5.724 10.5 15 1.5" />
                </svg>
                <span class="font-semibold text-gray-900 dark:text-white"> الارشيف</span>
            </a>
        </li>
        <li class="flex items-center space-x-3">
            <a [routerLink]="['approved-reqs']" class="flex">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5.917 5.724 10.5 15 1.5" />
                </svg>
                <span class="font-semibold text-gray-900 dark:text-white"> الطلبات المقبولة</span>
            </a>
        </li>
        <li class="flex items-center space-x-3">
            <a [routerLink]="['rejected-reqs']" class="flex">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5.917 5.724 10.5 15 1.5" />
                </svg>
                <span class="font-semibold text-gray-900 dark:text-white"> الطلبات المرفوضة</span>
            </a>
        </li>


        <li class="flex items-center space-x-3">
            <a [routerLink]="['commented-requests']" class="flex">
                <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5.917 5.724 10.5 15 1.5" />
                </svg>
                <span class="font-semibold text-gray-900 dark:text-white"> الطلبات المعلقة</span>
            </a>
        </li>

    </ul>


</div>