
<!-- flowbite form  -->
<section class="bg-gray-50 dark:bg-gray-900" dir="rtl">
    <div class="flex flex-col items-center justify-center px-8 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
            Flowbite    
        </a>
        <div class="w-full registerCard bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Create and account
                </h1>
                <form [formGroup]="registerForm" class="space-y-4 md:space-y-6" action="#">
                    <div>
                        <input  formControlName="FullName" type="text" name="FullName" id="FullName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ادخل اسم المستخدم" required="">
                        <div class="alert alert-danger" [hidden]="FullName?.valid ||FullName?.untouched">
                            <small *ngIf="FullName?.errors?.['required']">user full name is required</small>
                            <small *ngIf="FullName?.errors?.['pattern']">min length should be 3 Parts</small>
    
                        </div>
                    </div>
                   
                    <div>
                        <input    formControlName="Email" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ادخل الايميل " required="">
                        <div class="alert alert-danger" [hidden]="User_Email?.valid ||User_Email?.untouched">
                            <small *ngIf="User_Email?.errors?.['required']">user name is required</small>
                            <small *ngIf="User_Email?.errors?.['pattern']"> not valid Email </small>

                        </div>
                    </div>
                    <div>
                        <input   formControlName="Mobile" type="text" name="Mobile" id="Mobile" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ادخل رقم الجوال" required="">
                    </div>
                    <div>
                        <input   formControlName="Country" type="text" name="Country" id="Mobile" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="ادخل اسم الدولة" required="">
                    </div>
                    <div>
                        <input  formControlName="Password" type="password" name="password" id="password" placeholder="ادخل كلمة المرور" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        <div class="alert alert-danger" [hidden]="User_Password?.valid ||User_Password?.untouched">
                            <small *ngIf="User_Password?.errors?.['required']">user name is required</small>
                            <small *ngIf="User_Password?.errors?.['pattern']">password must contain At least one uppercase letter , one lowercase letter ,special character ,number with min length 6 </small>

                        </div>
                    </div>
                    <div>
                        <input formControlName="Confirm_Password" type="confirm-password" name="confirm-password" id="confirm-password" placeholder="تاكيد كلمة المرور" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        <div *ngIf="confrimPassword!==password && (Confirm_Password?.dirty || Confirm_Password?.touched)"
                        class="alert alert-danger" role="alert">
                        password not match!
                    </div>
                    </div>
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                          <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                        </div>
                    
                    </div>
                    <button  (click)="register()" type="submit" class="registerBtn w-full text-warning bg-dark hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account? <a [routerLink]="['/']" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>