.qutation {
    background-image: url('../../../assets/image004.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 595px;
    height: 842px;
    margin: auto;
    color: rgb(203, 231, 197);
}